.git
.gitignore
.env
.env.*
!.env.default
!.env.production.example
.pytest_cache/
**/__pycache__/
*.py[cod]
myenv/
.venv*/
tests/
files/
uploads/
nohup.out
app.db
**/logs/
mas/*/memory/*.json
mas/whisper-medium-sing2eng-translate/
mas/whisper-model-offline/
